
body{
	background-image: url("../images/netget-globe.png"); 
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
    padding: 0;
    margin: 0;


}

#search-bar {
background-color: lightblue;

}

div {

}
h1 {
	font-size: 4em;
    font-weight: bold;
	color: #FEF200;
	animation: glitch 0.5s linear infinite;
}
@keyframes glitch {
	0%,
	100% {
		opacity: 1;
	}
	95% {
		opacity: 0.8;
	}
	85% {
		opacity: 0.7;
	}
	100% {
		opacity: 0.8;
	}
}

#logo{
    margin-left: 10px;
}

h2{
	
}

h3{

}
footer{

}
#return-3{
	justify-content: right;
}

#search input{
    width: 85%;
}

/* Search button color */
#search-button {
    
}

.csshook{
    font-size: 12px;
}
.bg-active {
    visibility: visible;
    opacity: 1;
}
.closeBtn {
    align-items: center;
}
#btn1 {
     margin-top: 15px;
}