body{
	background-image: url("../images/netget-globe.png"); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;


}

#search-bar {
background-color: lightblue;

}

div {

}
h1 {		
	
}

h2{
	
}

h3{

}

/* Search button color */
#search-button {
}